:root {
    --color-iris: #4d5ae5;
    --color-ocean: #404bbf;
    --color-navy-blue: #2e2f42;
    --color-green: #31d0aa;
    --color-slate: #434455;
    --color-light-slate: #8e8f99;
    --color-cornflower: #e7e9fc;
    --color-cloud: #f4f4fd;
    --color-navy-blue-modal: #2e2f42;
    --color-grey: #2e2f42;
    --color-white: #ffffff;
    --color-dairy: #fcfcfc;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-slate);
    background-color: var(--color-white);
}

/* WebStudio */

/* HEADER */

/* Logo */
.logo-blue {
    color: var(--color-iris);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo-black {
    color: var(--color-navy-blue);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

/* /Logo */

/* Menu */
.menu-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--color-ocean);
}

/* /Menu */

/* Contacts */
.contacts {
    font-style: normal;
}

.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--color-slate);
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--color-ocean);
}

/* /Contacts */

/* /HEADER */

/* Main */

/* Hero */
.hero {
    background: var(--color-navy-blue);
}

.hero-title {
    color: var(--color-white);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.hero-button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-white);
    background: var(--color-iris);
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background: var(--color-ocean);
}

/* /Hero */

/* Offer */
.offers-title {
    color: var(--color-navy-blue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.offers-text {
    color: var(--color-slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* /Offer */

/* Work */
.work-title {
    color: var(--color-navy-blue);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

/* /Work */

/* Team */
.team {
    background: var(--color-cloud);
}

.team-title {
    color: var(--color-navy-blue);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.team-list {
    background-color: var(--color-white);
}

.team-item {
    background-color: var(--color-white);
}

.team-name {
    color: var(--color-navy-blue);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.team-job-title {
    color: var(--color-slate);
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

/* /Team */

/* /Main */

/* Footer */
.footer {
    background: var(--color-navy-blue);
}


.footer-text {
    color: var(--color-cloud);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.logo-footer-blue {
    color: var(--color-iris);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo-footer-white {
    color: var(--color-cloud);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

/* /Footer */

/* Portfolio */

.services-button {
    color: var(--color-iris);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: var(--color-cloud);
}

.services-button:hover,
.services-button:focus {
    color: var(--color-white);
    background-color: var(--color-ocean);
}

.services-title {
    color: var(--color-navy-blue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.services-text {
    color: var(--color-slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* /Services */
/* /Portfolio */